*.csv
__pycache__
.idea
.vscode

open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
data_folder
.venv
generated_cv*
resume.html

chrome_profile
.env

node_modules
.yarn
record_manager_cache.sql
generated