<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    {{ vite_tags() }}
</head>
<body class="flex flex-col flex-nowrap container mx-auto">
    <div id="app"></div>
</body>
</html>