{% extends 'layout.html.j2'%}

{% block title %} Matt's Auto Resume -- Jobs {% endblock %}

{% block content %}
<ul>
{% for job in jobs %}
    <li> 
        <a href="/jobs/{{job['job'].id}}">
             {{job['job'].title}}
        </a>
        {{job['score'].score}} 
    </li>
{% endfor %}
</ul>
{% endblock %}

